<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        ">
   <!-- 1.开启dao层扫描包 -->
   <context:component-scan base-package="com.sys.dao"></context:component-scan>
   <!-- 2.加载属性集文件 -->
   <context:property-placeholder location="classpath:resources/jdbc.properties"/>
	<!-- 3.配置DataSource -->
   <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
   		<property name="driverClassName" value="${mysql.driver}"></property>
   		<property name="url" value="${mysql.url}"></property>
   		<property name="username" value="${mysql.username}"></property>
   		<property name="password" value="${mysql.password}"></property>
   </bean>
   <!-- 4.事务管理DataSource -->
   <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
   		<property name="dataSource" ref="dataSource"></property>
   </bean>
   <!-- 5.加载MyBatis核心配置文件、映射文件 -->
   <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
   	<!-- 数据源 -->
   	<property name="dataSource" ref="dataSource"></property>
   	<!-- 核心控制文件 -->
   	<property name="configLocation" value="classpath:resources/MyBatis-Config.xml"></property>
   	<!-- 映射文件 -->
   	<property name="mapperLocations" value="classpath:com/sys/mapper/*.xml"></property>
   </bean>
   <!-- 6.配置扫描器，加载mybatis的接口映射对象 -->
   <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
   		<property name="basePackage" value="com.sys.dao"></property>
   		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
   </bean>
</beans> 
   
   
